<html>
  <head>
    <title>Paola's Blog</title>
  </head>
  <body>
    <p>Hellou there!</p>
    <p>It's me, Paola!</p><br>
      <div>
        <h1><a href="/">Spinat-Kartoffel Suppe</a></h1>
          <p>Für einen leichteren Magen</p><br>
      </div>

      <div>
        <h2><a href="">Gemüse-Eintopf</a></h2>
        <p>Reichhaltig an Vitaminen</p><br>
      </div>

      <div>
        <h3><a href="">Die wichtigsten Einkäufe zu Hause</a></h3>
        <p>Was sollte man zwingen immer auf Vorrat zu Hause haben</p>
      </div>
  </body>
</html>
